.oha-content-view {
    /*padding: 10px;*/
    width: 100%;
}

.oha-headers {
    height: 245px;
    
}

.oha-headers-item {
    width: 100%;
    border: 1px lightgray solid;
}
.oha-headers-icon {
    width: 50px;
    height: 50px;
}

.oha_footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 80%;
    border-top: 1px solid gray;
}


/*body{
    background: #F6F6F6;
    color: #000305;
    font-family: ''Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
    line-height: 1.5;
    text-align: left;
}

.oha_home {
    background: #C6C6C6;
    height: 200px;
    text-align: center;
    font-size: 90px;
    color: #333;
    line-height: 200px;
    vertical-align: middle;
}

.oha_home_first {
    color: #FF0000;
    height: '100%';
}

.oha_header nav {
    background-color: #797979; 
    height: 40px;
}

.oha_header nav ul {
    list-style: none;
    margin: 0 auto;
}

.oha_header nav ul li {
    display: inline;
}

.oha_header nav a:link, .oha_header nav a:visited {
    color:  #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}*/
