{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'openhomeapp/css/openhomeapp.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'openhomeapp/js/c3-0.4.11/c3.css' %}" />
    <script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="{% static 'openhomeapp/js/c3-0.4.11/c3.js' %}"></script> 
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
      <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->

  </head>

  <body class="oha_base_body">
      {% block content %}
      {% endblock %}

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
      <script src="{% static 'openhomeapp/js/angular-ui-router.js' %}"></script>
      <script src="{% static 'openhomeapp/js/app.js' %}"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      <script src="{% static 'openhomeapp/js/controller/homeController.js' %}"></script>
      <script src="{% static 'openhomeapp/js/controller/openHomeController.js' %}"></script>
      <script src="{% static 'openhomeapp/js/controller/nodesController.js' %}"></script>
  </body>
</html>
