<md-list layout="row" flex class="oha-headers">
    <md-list-item class="oha-headers-item">
        <div id="chart"></div>
    </md-list-item> 
    <!--<md-list-item layout="column" class="oha-headers-item">
        <md-button>Weather</md-button>
        </md-button>
    </md-list-item>-->
    <!--<md-list-item layout="column" class="oha-headers-item">
        <img ng-src="http://localhost:8000/media/image.png" class="oha-headers-icon"> 
        <div class="md-list-item-text">
            <h5>{{ temperatureData.currentTemp }} degrees</h5>
        </div>
    </md-list-item>-->
    <md-list-item class="oha-headers-item">
        <iframe id="forecast_embed" type="text/html" frameborder="0" height="200" width="100%" src="http://forecast.io/embed/#lat=44.948967&lon=-93.384347&name=Home"> </iframe>
    </md-list-item>
</md-list>


