<md-list layout="row" flex="100" style="overflow: scroll;">
    <md-list-item layout-wrap style="min-width:100px;" flex class="oha-headers-item" ng-repeat="node in nodes">
        <a ui-sref="node">[[ node.name ]]</a>
    </md-list-item>
</md-list>


<div ui-view="nodedetailview"></div>