{% extends 'base.html' %}
{% block content %}

<div  ng-app="openhomeapp" layout="column" style="padding: 8px;" ng-cloak layout-fill ng-controller="OpenHomeController">
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="toggleMenu()">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <h1>Open Home</h1>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav 
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="2">
            <md-list>
                <md-list-item>
                    <md-button flex class="md-raised md-primary" ui-sref="dashboard">Dash</md-button>
                </md-list-item> 
                <md-list-item>
                    <md-button flex class="md-raised md-accent" ui-sref="nodes">Security</md-button>
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button flex>
                        Whatever 
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <div ui-view="openhomeview" class="oha-content-view"></div>

        <footer class="oha_footer">
            copyright whatever
        </footer>
    </div>
<!--
<input ng-model="name" type="text" placeholder="Your name" />
<h1>Hello [[ name ]] </h1>-->
</div>



<!--<div id="chart"></div>

<script>
    var chart = c3.generate({
    bindto: '#chart',
    data: {
        url: 'http://localhost:8000/api/v1/data_points/',
        x: 'time_stamp',
        xFormat: '%Y-%m-%d %H:%M:%S', // 'xFormat' can be used as custom format of 'x'
        value: 'value',
        mimeType: 'json'
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%H:%M:%S'
            }
        }
    }
    });

    setInterval(function () {
        chart.load({
            url: 'http://localhost:8000/api/v1/data_points/',
            x: 'time_stamp',
            xFormat: '%Y-%m-%d %H:%M:%S', // 'xFormat' can be used as custom format of 'x'
            value: 'value',
            mimeType: 'json'       // i should generate the X axis values somewhere here
        })
    }, 2000);
</script>-->




{% endblock %}
home